doctype html
html(ng-app='zombie-pets', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Zombie Pets
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
  body(ng-controller='MainController')
    .container
      .row
        .col-xs-12
          h1 {{title}}
      .row
        .col-xs-12
          #cage(ng-show='player1 && player2')
            #player1
              .pet(style='background-image:url("{{player1.photo}}")')
                .name {{player1.name}}
                .health Health: {{player1.health}}
                .petWeapon Weapon: {{player1.weapon.name}}
            #player2
              .pet(style='background-image:url("{{player2.photo}}")')
                .name {{player2.name}}
                .health Health: {{player2.health}}
                .petWeapon Weapon: {{player2.weapon.name}}
      .row
        .col-xs-4
          button.btn.btn-danger(ng-click='toggleWeapon()') Toggle Weapon
          .panel.panel-default(ng-hide='hideWeapon')
            .panel-heading
              h4.panel-title Create Weapon
            .panel-body
              form(role='form', novalidate, name='weaponForm')
                .form-group
                  label(for='name') Name
                  input.form-control#name(ng-minlength='4', ng-maxlentgh='25',ng-model='weapon.name', type='text', name='name', autofocus=true, required)
                .form-group
                  label(for='photo') Photo
                  input.form-control#photo(ng-pattern='/^http/', ng-model='weapon.photo',type='text', name='photo', placeholder='URL', required)
                .form-group
                  label(for='damage') Damage
                  input.form-control#damage(ng-model='weapon.damage', type='number', name='damage', required)
                button.btn.btn-primary(type='submit', ng-show='weaponForm.$valid', ng-click='addWeapon()') Add Weapon
        .col-xs-8
          button.btn.btn-success(ng-click='togglePet()') Toggle pet
          .panel.panel-default(ng-hide='hidePet')
            .panel-heading
              h4.panel-title Create Weapon
            .panel-body
              form(role='form', novalidate, name='petForm')
                .form-group
                  label(for='petName') Name
                  input.form-control#petName(ng-model='pet.name', type='text', name='petName', required)
                .form-group
                  label(for='petPhoto') Photo
                  input.form-control#petPhoto(ng-pattern='/^http/', ng-model='pet.photo',type='text', name='petPhoto', placeholder='URL', required)
                .form-group
                  label Health 100
                  input.form-control(type='number', readonly, ng-model='pet.health')
                .form-group
                  label(for='weapon')
                  select(name='weapon', ng-model='pet.weapon')
                    option(selected='selected', disabled) Choose your weapon
                    option(ng-repeat='w in weapons', value='{{$index}}') {{w.name}}: {{w.damage}}

                button.btn.btn-primary(type='submit', ng-show='petForm.$valid', ng-click='addPet()') Add Pet
      .row
        .col-xs-12
          .weapon(ng-repeat='w in weapons', style='background-image:url("{{w.photo}}")')
            .name {{w.name}}
            .damage Damage: {{w.damage}}
      .row
        .col-xs-12
          .pet(ng-repeat='p in pets', style='background-image:url("{{p.photo}}")')
            .name {{p.name}}
            .health Health: {{p.health}}
            .petWeapon Weapon: {{p.weapon.name}}
            button.btn.btn-primary(ng-click='setPlayer(1)') Player 1
            button.btn.btn-primary(ng-click='setPlayer(2)') Player 2
      .row
        .col-xs-12
          pre Weapon: {{weapon | json}}
          pre Weapons: {{weapons | json}}
          pre Pet: {{pet | json}}
          pre Pets: {{pets | json}}
          pre {{player1}}
          pre {{pllayer2}}

    script(src='/vendor/angular/angular.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/index.js')
